<!DOCTYPE html>
<html>
	<head>
		<title>HTML 文字加注音</title>
		<meta charset="UTF-8" />
		<script type="module">
			import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
			import { translator as zhuyinTranslator } from "./1qazToBopomofo.js";
			import { rubyHTML, rubyCSS } from "./webZhuyin.js";

			createApp({
				data: () => ({
					text: "",
					zhuyin: "",
					vertHTML: "",
					horiUpHTML: "",
					horiRightHTML: ""
				}), 
				methods: {
					zhuyinTranslator: zhuyinTranslator,
					generate(e){
						this.horiUpHTML = rubyHTML(this.text, this.zhuyin, "horiUp", {withCSS: true});
						this.horiRightHTML = rubyHTML(this.text, this.zhuyin, "horiRight", {withCSS: true});
						this.vertHTML = 
							rubyHTML(this.text, this.zhuyin, "vert", {withCSS: true, addId: "vertHTML"})
							+ `<style>#vertHTML {width: 100%;} </style>`;
					}
				}
			}).mount('#vueApp');

		</script>
	</head>
	<body>
		<main id="vueApp" style="
			display: grid;
			grid-template: repeat(4, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
			height: 180vh;
		">
			<textarea id="text" v-model="text" @input="generate" placeholder="這樣子輸入，懂嗎？

這邊直接放上文章"></textarea>
			<textarea id="zhuyin" v-model="zhuyin" @input="generate" @keydown="zhuyinTranslator" placeholder="ㄓㄜˋ ㄧㄤˋ ㄗ˙ ㄕㄨˉ ㄖㄨˋ ' ㄉㄨㄥˇ ㄇㄚ˙ ' 

聲調在每個注音結尾，中間插入空格，略過文字以 ' 代替。
請將鍵盤切換英數模式，直接輸入。空格鍵輸入一聲，'=' 鍵輸入空格。"></textarea>
			<div id="vertPrev" v-html="vertHTML ? vertHTML : '垂直文字預覽'"></div>
			<textarea id="vertHTML" :value="vertHTML" placeholder="垂直文字程式碼" disabled></textarea>
			<div id="horiUpPrev" v-html="horiUpHTML ? horiUpHTML : '水平、注音在上文字 預覽'"></div>
			<textarea id="horiUpHTML" :value="horiUpHTML" placeholder="水平、注音在右文字 程式碼" disabled></textarea>
			<div id="horiRightPrev" v-html="horiRightHTML ? horiRightHTML : '水平、注音在上文字 預覽'"></div>
			<textarea id="horiRightHTML" :value="horiRightHTML" placeholder="水平、注音在右文字 程式碼" disabled></textarea>
		</main>
	</body>
</html>
